<div class="messages" data-user_name="{{username}}">
{{#each message}}
    <div class="message">{{username}} {{this.text}}</div>
{{/each}}
</div>

<input type="text" name="text" id="text">
<button id="btn">click</button>

<script defer src="/js/chat.js"></script>
