<div class="mainframe">

  <div class="welcome-container">
    <div class="welcome-text">
      <h2>Алоха!</h2>
      <p>Сейчас ты находишься в шаге от создания своих собственных кастомных носков.</p>
      <p>Все наши носки отшиваются на небольшом производстве в н.Домодедово и каждая пара проходит тщательный контроль
        нашими специалистами!</p>
      <p>Если у тебя возникнут вопросы или пожелания, ты можешь написать создателю проекта в TG: <a
          href="https://telegram.me/ddolinova">@ddolinova</a></p>
    </div>
  </div>
</div>
