<h3>Здравствуйте {{me.name}}</h3>
<div id="pcont" class="profile-container">
  <div>
    <span>Name: </span><span>{{me.name}}</span>
    <br>
    <button id="btnNameChange">Сменить имя</button>
  </div>
  <div>
    <span>e-mail: </span><span>{{me.email}}</span>
    <br>
    <button id="btnEmailChenge">Сменить e-mail</button>
  </div>
  <div>
    <span>Phone: </span><span>{{me.phone}}</span>
    <br>
    <button id="btnPhoneChange">Сменить номер телефон</button>
  </div>
  <div>
    <span>password: </span>
    <br>
    {{!-- <button id="btnPassView">Показать пароль</button> --}}
    <button id="btnPassChenge">Сменить пароль</button>
  </div>
</div>
<script src="/js/profile.js"></script>
