<form action="/users/signup" method="post" name="signup">
    <div class="mb-3">
        <label class="form-label" for="exampleCheck1">Name</label>
        <input type="text" class="form-control" id="exampleCheck1" name="name">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Phone</label>
        <input type="text" class="form-control" id="exampleInputPhone1" name="phone" placeholder="999 121 2123">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="password">
    </div>
  <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
    </div>
</form>

<script defer src="/js/signup.js"></script>