
<div class="socksCard">
  <span>Design #{{design.id}}</span>
{{!-- картинка методом конструктора --}}
<div>
  тут должна быть картинка носка
</div>
<a href=""><button type="button" class="btn btn-primary">Поделиться</button></a>
</div>
